

.search input:focus{
    background-color: rgb(211, 209, 213);
    
}
.search{
    padding: 1rem;
    
      display: flex;
      justify-content: center;
     
  
}
.search button:active{
    border-style: none;
    background-color: rgb(235, 162, 162);
}

.search input{
    border-radius: 6px;
    border-color: yellow;
}
.search button{
    margin-top: 1rem;
    background-image:linear-gradient(to right, white 1%,rgb(193, 5, 230));
    border-radius: 7px;
}


   
